PORT=5000
MONGODB_URI=mongodb://localhost:27017/bookify_library
JWT_SECRET=bookifysecret
FRONTEND_URL=https://bookify-frontend-877g.vercel.app
BACKEND_URL=http://localhost:5000
CORS_ORIGINS=http://localhost:3000,https://bookify-frontend-877g.vercel.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/social/google/callback

X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=http://localhost:5000/api/auth/social/x/callback
